
form,main {
    /* border: 2px solid yellow; */
    margin: auto;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 1.6em;
    margin-top: 1.9rem;
    padding-top: 1.5rem;
}
input {
    margin: 0.5rem;
}

.input-group > .form-control,
input#formFile.form-control {
    border: 2px solid grey;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 1px !important;
    margin-top: 0.2rem;
}
.input-group1 > .form-control,
input#formFile.form-control {
    border: 2px solid grey;
    border-radius: 1px !important;
    margin-top: 0.2rem;
}
#button {
    border-radius: 12px !important;
    background-color: black;
    color: white;
    margin: 0.3rem;
    padding: 0.4rem;
}

.input-group {
    width: 70%;
    margin: 0.2rem;
    margin-top: 1rem;
}
.input-group1 {
    width: 70%;
    margin: 0.2rem;
    margin-top: 1rem;
}
form , main{
    border: 2px solid grey;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label,
input {
    margin: 0.1rem 0.9rem 0.1rem 0.1rem;
}

.buton {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-size: 20px;
    border: 1px solid green;
    width:15em;
    height: 5.5vh;
    border-radius: 0.5em;
    background-color: white;
    color:green;
}
.buton:hover{
    background-color: green;
    color:white;
}
main{
    margin-top: 3rem;
}
.butonadmin {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-size: 20px;
    border: 1px solid blue;
    width:15em;
    height: 5.5vh;
    border-radius: 0.5em;
    background-color: rgba(30, 30, 243, 0.895);
    color: white;
    box-shadow: 2px 2px 5px 2px;
}
.butonadmin:hover{
    background-color: blue;
    color: white;  
}
.login_a{
    text-decoration: none !important;
    color: blue !important;
    cursor: pointer;
}
.login_a:hover{
    color: green !important;
}

body{
    /* background-image: url("./Farmer/FarmerSectionImage/farmer1.png"); */

}
main{
    background-color: white;
}
.col-md-7{
    /* border: 2px solid red; */
}

.row{
    /* border: 2px solid red; */
}