form,main {
    /* border: 2px solid yellow; */
    margin: auto;
    box-shadow: 2px 2px 7px 2px grey;
    margin-top: 1.9rem;
    padding-top: 0.9rem;
    margin-bottom: 5rem;
}
input {
    margin: 0.5rem;
}
main:hover {
    box-shadow: 2px 2px 14px 3px grey;

}
.input-group > .form-control,
input#formFile.form-control {
    border: 2px solid grey;
    border-radius: 14px !important;
}
#button {
    border-radius: 12px !important;
    background-color: black;
    color: white;
    margin: 0.3rem;
    padding: 0.4rem;
}

.input-group {
    width: 70%;
    margin: 0.2rem;
}
form , main{
    border: 2px solid grey;
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label,
input {
    margin: 0.1rem 0.9rem 0.1rem 0.1rem;
    border-radius: 10px;
}
.input {
    border-radius: 20px !important;
}
