body{
    background-color: white;
}
.display{
    /* border: 10px solid black; */
    height: 100vh;
}
.service-col{
    /* border: 2px solid black; */
    /* margin:auto; */
    /* height: 30%; */
    width: 20% !important;
    margin: 2em;
    border-radius: 13px;
    box-shadow: 2px 2px 7px 1px grey;
    padding: 1rem;
}
.card-img{
    margin-bottom: 0.6rem ;
    border-radius: 100%;

}
.services{
    /* border: 2px solid red; */
    margin-top: 12em;
}

.our-moto{
    margin-top: 12em;
    margin-left: 0px;
    margin-left: 0px;
    /* border: 2px solid pink; */
    width: 99vw;
    padding: 0px;

}
.moto-row{
    /* border: 2px solid green; */
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}
.moto-img{
    width: 100%;;
}
.col-moto{
    padding: 0px;
    /* width: 100%; */
 /* /\   border: 2px solid red; */
 height: 80vh;
}
.moto-img{
    background-image: url("./HomeImages/sunrise4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.moto-text{
    /* background-color: azure ; */
    /* background-image: url("./HomeImages//wallpaper.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
     */
     background-color: rgb(236, 246, 236);
    /* opacity: 0.3; */
}

.head-size{
    font-size: 3.9rem;

}
.para-size{
    font-size: 1.5rem;
}