/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


body{
    background-color: white;
    
  font-family: 'Playfair Display', serif;
  /* font-family: 'Open Sans', sans-serif; */
}
.display{
    /* border: 10px solid black; */
    height: 100vh;
}
.service-col{
    /* border: 2px solid black; */
    /* margin:auto; */
    /* height: 30%; */
    width: 20% !important;
    margin: 2em;
    border-radius: 13px;
    box-shadow: 2px 2px 7px 1px grey;
    padding: 1rem;
}
.card-img{
    margin-bottom: 0.6rem ;
    border-radius: 100%;

}
.services{
    /* border: 2px solid red; */
    margin-top: 12em;
}

.our-moto{
    margin-top: 12em;
    margin-left: 0px;
    margin-left: 0px;
    /* border: 2px solid pink; */
    width: 99vw;
    padding: 0px;

}
.moto-row{
    /* border: 2px solid green; */
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}
.moto-img{
    width: 100%;;
}
.col-moto{
    padding: 0px;
    /* width: 100%; */
 /* /\   border: 2px solid red; */
 height: 80vh;
}
.moto-img{
    background-image: url("./HomeImages/sunrise4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.moto-text{
    /* background-color: azure ; */
    /* background-image: url("./HomeImages//wallpaper.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
     */
     background-color: rgb(236, 246, 236);
    /* opacity: 0.3; */
    padding: 0.5rem;
}

.head-size{
    font-size: 3.9rem;

}
.para-size{
    font-size: 1.5rem;
}

.second-part{
    background-image: url("./HomeImages/home2.jpg");
    height: 150vh;
    margin-top: 15rem;
    margin-bottom: 15rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.row-2{
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    /* border: 2px solid red */
}


.row-2-para{
    padding: 3rem !important;
    font-size: 1.4em;
}

.col-md-7{
    border: 0px !important
}