.container{
    border: 2px solid black !important;
    border-radius: 10px !important;
    padding:50px !important;
}

.option-button{
    /* border: 2px solid red; */
    margin: 1rem;
    border-radius: 8px;
    background-color: rgb(57, 215, 57);
    border: 2px solid white;
    width: 55%;
    height: 45% !important;
    padding: 0.3rem;
    color: white;
    font-size: 1.3rem;

}
.option-button:hover{
    color: white;
    background-color: greenyellow;
    border: 2px solid greenyellow;

}

.container-option{
    justify-content: center;
    padding: 50px;
    /* margin: auto; */
}

.row-option
{
    /* border: 2px solid red; */
    /* display: flex; */
    justify-content: center !important;

    
}


.container-option
{
    box-shadow: 1px 1px 4px 1px grey;
    padding: 5rem !important;
}
.container-option:hover
{
    box-shadow: 1px 1px 6px 1px grey;

}

.option-button3{
    border-radius: 6px;
    padding: 2rem;
    font-size: 1.2rem;
}
.row-option{
    display: flex;
    flex-direction: row;
}