.detailed-image{
    height: 70vh;
    width: 100%;
    padding: 0;
    /* text-align: center; */
    /* border: 10px solid red; */
    /* height: fit-content; */
}
.col-sm-7{
    display: flex;
    justify-content: baseline;
    /* border: 2px solid pink !important; */
    padding: 0 !important;
    margin: 0 !important;
    left: 0 !important;
    /* width: 70%; */

}
.col-sm-3{
    /* border: 2px solid green; */
    /* width: 30%; */
    margin: 0px !important;
}
.row{
    /* border: 2px solid black; */
    padding: 0 !important;
    margin: 0px ;
    max-width: 100%;
    justify-content:space-between;
    /* background-repeat: repeat; */
}
.container{
    margin-top: 3rem;
    /* border: 2px solid yellow; */
    padding: 0px;
    border: 2px solid white ;
    /* box-shadow: 1px 1px 6px 1px grey; */
}
.container:hover
{
    /* box-shadow: 1px 1px 9px 2px grey; */

}
#container-display{
    /* border: 2px solid black !important;
     */
     box-shadow: 1px 1px 7px 1px grey;
     margin-bottom: 13rem  !important;
     min-height: 80vh;
}
#container-display:hover{
    box-shadow: 1px 1px 9px 1px grey;

}